@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.backdrop-filter {
    backdrop-filter: blur(0px);
}

@media screen and (max-width: 1280px) {
    .backdrop-filter {
        backdrop-filter: blur(5px);
    }
}